# Files that might appear on Windows
Thumbs.db
Thumbs:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Files that might appear on Linux
*~
.fuse_hidden*
.directory
.Trash-*

# Files that might appear on macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevision-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash folder
Temporary Items
.apdisk

# Gradle
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
#gradle/wrapper/gradle-wrapper.properties

# Idea
.idea
*.iws
*.iml
